
// Default Mixin
@mixin link-style(
	$padding:0,
	$background-color:$base-black,
	$text-color:$base-link-color
	)
{
	padding: $padding;
	background-color:$background-color;
	color: $text-color;
}

@mixin link-transition($time:0.5s){ 
	-webkit-transition: all linear $time; 
	-o-transition: all linear $time;
	transition: all linear $time;
};


// Helper Mixin
@mixin margin-spacer() {
	margin: 40px 0;
}

@mixin padding-spacer() {
	padding: 40px 0;
}

@mixin background-image($filename) {
	background: url($filename) no-repeat center center;
	background-size: cover;
}